<div class="container">
  <div class="content">
    <div class="title">
      <h1>Sala {{roomCode}}</h1>
      <span class="subtitle">Pedra, papel ou tesoura</span>
      <h1 *ngIf="result">{{result}}</h1>
      <span>Jogar novamente em:</span><countdown #cd [config]="config"></countdown>
    </div>

    <div class="room">
        <div class="your-select" *ngIf="hand">
            <h2>Sua escolha</h2>
            <div class="action" *ngIf="hand == 'paper'">
                <img src="../../../assets/hand-paper.png" height="80px" alt="paper">
            </div>
            <div class="action" *ngIf="hand == 'rock'">
                <img src="../../../assets/hand-rock.png" alt="rock">
            </div>
            <div class="action" *ngIf="hand == 'scissors'">
                <img src="../../../assets/hand-scissors.png" height="85px" alt="scissors">
            </div>
        </div>

        <div class="your-select" *ngIf="hand">
            <h2 *ngIf="!oppenent">Esperando o oponente...</h2>
            <h2 *ngIf="oppenent">Oponente</h2>
            <div class="action" *ngIf="oppenent == 'paper'">
                <img src="../../../assets/hand-paper.png" height="80px" alt="paper">
            </div>
            <div class="action" *ngIf="oppenent == 'rock'">
                <img src="../../../assets/hand-rock.png" alt="rock">
            </div>
            <div class="action" *ngIf="oppenent == 'scissors'">
                <img src="../../../assets/hand-scissors.png" height="85px" alt="scissors">
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="action" (click)="selectHand('paper')">
            <img src="../../../assets/hand-paper.png" height="80px" alt="paper">
        </div>
        <div class="action" (click)="selectHand('rock')">
            <img src="../../../assets/hand-rock.png" alt="rock">
        </div>
        <div class="action" (click)="selectHand('scissors')">
            <img src="../../../assets/hand-scissors.png" height="85px" alt="scissors">
        </div>
    </div>
  </div>
</div>
